.Cards{
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.Cards div{
    width: 25%;
    display: flex;
    align-items: center;
}

@media (max-width: 321px) {
    .Cards{
        height: 35vh;
    }

}
@media (min-width: 760px){
    .Cards{
        justify-content: flex-start;
        justify-items: start;
    }
    .Cards :first-child{
        margin-left: -6px;
    }
    .Cards div{
        width: 72px;

    }
}