.Cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;
    height: 80%;
    width: 100%;
    align-content: flex-start;
    margin-left: 20px;
}
.Cards div{
    flex: none;
}
.Cards img{
    border-radius: 8px;
    padding: 0;
    margin-right: 16px;
}
@media (max-width: 321px) {
    .Cards{
        height: 190px;
        margin-bottom: 0;
    }
    .Cards div{
        display: inline;
    }
    .Cards img{
        margin-right: 8px;
    }
}
@media (max-width: 767px) {
    .Cards{
        margin-left: 0;
        justify-items: center;
        width: 99%;
    }
}