.Input input{
    height: 56px;
    padding-left: 14px;
    background: #4B4E5C;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 336px;


}
.Input:focus{
    outline: none;
}
@media (max-width: 767px) {
    .Input{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .Input input{
        width: 85vw;
    }
}
@media (max-width: 322px) {
    .Input{
        display: flex;
        justify-content: center;
        padding: 0;

    }
    .Input input{
        width: 280px;
    }
}