.Footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Footer img{
    opacity: .3;
}
.Footer .active img{
    opacity: 1;
}
@media (min-width: 760px) {
.Footer{
    position: relative;
}
}