/*.Footer{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-bottom: 10px;*/
/*    height: 96px;*/
/*    margin-top: -22px;*/
/*}*/
.Footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (min-width: 760px) {
.Footer{
    position: relative;
}

}